[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = {extras = ["testing"], version = "*"}
dash-bootstrap-components = "*"
dash-responsive-grid-layout = "*"
pandas = "*"
gunicorn = "*"
plotly-express = "*"
dash-table = "*"
holoviews = "*"
dash-daq = "*"
psutil = "*"
plotly = "*"
dash-extensions = "*"
orca = "*"
kaleido = "*"
pdfkit = "*"
dash-trich-components = "*"
pytest = "*"
webdriver-manager = "*"
selenium = "*"
python-decouple = "*"
python-dotenv = "*"
visdcc = "*"
flask-mongoengine = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
